.pageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 80, 80);
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  overflow: hidden;
  width: 30rem;
}

.header,
.footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  height: 3.5rem;
  color: var(--text-color);
}

/** HEADER **/

.filterBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.filterBtn {
  margin: 0 0.5rem;
}

.active {
  color: var(--point-color);
  font-weight: 700;
  position: relative;
}

.active::after {
  background-color: var(--point-color);
  content: "";
  position: absolute;
  /* 요소 크기 설정 */
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/** FOOTER **/

.footer {
  padding: 0.7rem;
}

.input {
  color: gray;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem 0 0 0.3rem;
  background-color: white;
}

.input:focus {
  outline: none;
}

.addBtn {
  background-color: var(--point-color);
  color: var(--primary-color);
  height: 100%;
  width: 3.5rem;
  border-radius: 0 0.3rem 0.3rem 0;
}

/** MAIN **/

.todoContainer {
  padding: 1rem;
  height: 15rem;
  max-height: 15rem;
  overflow: scroll;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.completed {
  font-style: italic;
  text-decoration: line-through;
}
